.App {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;

  @media screen and (max-width: 900px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: #351710 !important;
}
.MuiInputBase-input {
  color: #351710 !important;
  margin-left: 0;
}
.MuiInputLabel-outlined {
  color: #351710 !important;
}
.MuiPickersLayout-toolbar {
  display: none !important;
}
.workout-calendar .MuiButtonBase-root-MuiButton-root {
  background-color: #fffae6;
  display: none !important;
}

.MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
  background-color: #fffae6 !important;
  color: #351710;
}

.workout-calendar .MuiPickersCalendarHeader-label {
  font-size: 1.5rem;
  color: #351710;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.workout-calendar .MuiPickersCalendarHeader-root {
  font-size: 1.5rem;
  color: #351710;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  @media screen and (max-width: 375px) {
    width: 260px;
  }
}
.workout-calendar .MuiPickersDay-root {
  font-size: 1.3rem;
  color: #351710;
  @media screen and (max-width: 480px) {
    font-size: 1rem;
  }
}
.workout-calendar .MuiDayCalendar-weekDayLabel {
  width: 600px;
  font-size: 1.5rem;
  color: #351710;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}
.workout-calendar .MuiDateCalendar-root {
  width: 600px;
  background-color: #fffae6;
  border-radius: 8px;
  height: 430px;
  max-height: 100%;
  font-size: 56px;
  @media screen and (max-width: 768px) {
    width: 480px;
  }
  @media screen and (max-width: 480px) {
    width: 360px;
  }
  @media screen and (max-width: 375px) {
    width: 300px;
  }
}
.workout-calendar .MuiDayCalendar-header {
  justify-content: space-between;
  width: 100%;
}
.workout-calendar .MuiDayCalendar-weekContainer {
  justify-content: space-between;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  @media screen and (max-width: 768px) {
    width: 460px;
  }
  @media screen and (max-width: 480px) {
    width: 340px;
  }
  @media screen and (max-width: 375px) {
    width: 240px;
  }
}

.workout-calendar .MuiPickersSlideTransition-root {
  overflow-x: visible;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  @media screen and (max-width: 375px) {
    width: 300px;
  }
}

.workout-calendar .MuiPickersLayout-actionBar {
  display: none !important;
}
.MuiPickersLayout-root {
  display: flex;
  justify-content: center;
}

.MuiBarElement-root {
  background-color: #351710 !important;
  fill: #351710 !important;
}
.MuiChartsAxis-tickLabel {
  fill: #5c453e !important;
}
.MuiTableCell-root {
  @media (max-width: 480px) {
    padding-right: 0 !important;
  }
}
